.nojs input:invalid, form.in-validation input:invalid {
  border: 1px dashed red;
}

error-messages {
  display: block;
  margin: 1rem;
  color: red;
}


label {
  display: inline-block;
  min-width: 30ch;
}
